PORT=8000
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/growfusion
PASSWORD_PEPPER=sample_password_pepper_value_change_in_production
JWT_ACCESS_SECRET=sample_access_token_secret_change_in_production
JWT_REFRESH_SECRET=sample_refresh_token_secret_change_in_production
COOKIE_SECRET=sample_cookie_secret_change_in_production
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_EXPIRY=7d
JWT_ISSUER=GrowFusion-BACKEND
JWT_AUDIENCE=GrowFusion-FRONTEND
CLIENT_URL=http://localhost:5173
TEMP_CLIENT=https://track-m-ease.vercel.app
LOG_LEVEL=info
INSTAGRAM_CLIENT_ID=2342342352351231
INSTAGRAM_CLIENT_SECRET=kwjne89he9r8hj32oirn239f8j239
INSTAGRAM_REDIRECT_URI=https://track-m-ease.vercel.app/oauth
INSTAGRAM_FORCE_RE_AUTH=false
INSTAGRAM_STATE_JWT_SECRET=sample_jwt_secret_change_in_production
